<nav class="navbar navbar-expand navbar-dark bg-dark static-top">
  <div class="nav">
    <ul class="navbar-nav mr-auto">
      <li class="navbar-brand"> &nbsp;
        <i class="fas fa-phone-square"></i>
      </li>
      <li class="nav-item">
        <a class="nav-link">Home</a>
      </li>
    </ul>
  </div>
</nav>

<main>
  <app-contacts-list></app-contacts-list>
  <table class="table container">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Phone</th>
        <th scope="col">Email</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let contact of contacts; index as i">
        <td>{{contact.id}}</td>
        <td>{{contact.name}}</td>
        <td>{{contact.phone}}</td>
        <td>{{contact.email}}</td>
      </tr>
    </tbody>
  </table>
</main>


