<nav class="navbar navbar-expand navbar-dark bg-dark static-top">
  <div class="nav">
    <ul class="navbar-nav mr-auto">
      <li class="navbar-brand"> &nbsp;
        <i class="fas fa-phone-square"></i>
      </li>
      <li class="nav-item">
        <a class="nav-link">Home</a>
      </li>
    </ul>
  </div>
</nav>

<main>
  <table class="table container">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Phone</th>
        <th scope="col">Email</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of rows; index as i">
        <td>Name {{i+1}}</td>
        <td>Phone {{i+1}}</td>
        <td>Email {{i+1}}</td>
      </tr>
    </tbody>
  </table>
</main>


